@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@media (max-width: 890px) {
  header img {
    width: 30%;
  }
  header .headerNav {
    display: none !important;
  }
  .fondoasd {
    height: 100vh;
  }
  .fondoasd .seccion1 {
    height: 100vh;
    margin: 0 !important;
    width: 100% !important;
  }
  .fondoasd .seccion1 h1 {
    font-size: 2em !important;
    line-height: 1.3;
    font-weight: 500 !important;
  }
  .fondoasd .seccion1 h1 br {
    display: block !important;
  }
  #servicios {
    padding: 1rem;
    min-height: 50vh;
    max-height: 50vh;
  }
  #servicios .mobileCard {
    height: 65vh;
  }
  #servicios .contenedorCards {
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    width: 85% !important;
    position: relative;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    height: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: auto;
    margin-top: 0;
    margin-bottom: 2rem;
    top: -10vh;
  }
  #servicios .contenedorCards .card {
    top: 0 !important;
    scroll-snap-align: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100% !important;
    height: 100%;
  }
  #servicios .botonServicios {
    width: auto !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    display: none;
  }
  #acercaDe {
    display: block;
    height: 100vh;
  }
  #acercaDe .containerContenido {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-image: url(../media/acercade_xxl.jpg);
    background-size: cover;
  }
  #acercaDe .containerContenido .contenido {
    margin: 0;
    padding: 0;
    height: auto;
    max-width: 100%;
    padding: 1rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
  #acercaDe .containerContenido .contenido .AD-titulo {
    font-size: 1.6em;
    color: #FF9A51;
  }
  #acercaDe .containerContenido .contenido .AD-tituloMarca {
    font-size: 2.3em;
    letter-spacing: 1.3px;
    color: #ffff;
  }
  #acercaDe .containerContenido .contenido p {
    color: #ffff;
    font-weight: 200;
    font-size: 1em;
    text-align: justify;
    margin-top: 2rem;
  }
  #contacto {
    padding: 0;
  }
  #contacto .fondoNaranja {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    border-top: 5px solid #FF9A51;
    border-left: none;
    width: 100%;
    padding-bottom: 3rem;
  }
  #contacto .fondoNaranja .contactanosTexto {
    padding-left: 2rem;
    font-size: 1.5em;
    color: #323852;
    font-weight: 700;
  }
  #contacto .fondoNaranja .contactanosTexto .contactanosTextoSpan {
    color: #FF9A51;
    font-size: 1.8em;
    margin-top: 2rem;
  }
  #contacto .fondoNaranja .carousel {
    right: 0;
    margin: auto;
    margin-top: 2rem;
    height: 20rem;
    width: 80%;
  }
  #contacto .fondoNaranja .redes {
    right: 0;
    padding-left: 2rem;
  }
  #contacto .fondoNaranja .redes span {
    margin-top: 1rem;
  }
  #contacto .fondoNaranja .redes span p {
    margin: 0;
    margin-left: 1rem;
    font-size: 60%;
  }
  footer .footerLogoContainer {
    margin-left: 1% !important;
    height: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footerLogoContainer a {
    height: 70%;
  }
  footer .footerLogoContainer a img {
    height: 100%;
    width: auto !important;
  }
  footer nav {
    padding: 0 !important;
  }
  footer nav ul {
    font-size: .9em;
    margin-bottom: .5rem;
  }
  footer nav ul li {
    text-align: end;
  }
  footer nav .footerNavSpan {
    font-size: .8em !important;
    text-align: end;
    display: block;
    width: 100%;
  }
}

* {
  font-family: 'Roboto', sans-serif;
}

body .fondoasd {
  background-image: url(../media/home.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  color: white;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .fondoasd header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 8vh;
  margin-top: .5rem;
}

body .fondoasd header img {
  padding: .5rem;
  margin-left: 3.5rem;
}

body .fondoasd header nav {
  width: 35%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1rem;
}

body .fondoasd header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
  width: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

body .fondoasd header nav ul li {
  margin-right: 3.5rem;
}

body .fondoasd header nav ul li a {
  text-decoration: none;
  color: #ffff;
  white-space: nowrap;
  font-size: 1.1em;
  font-weight: 300;
}

body .fondoasd header nav ul li a:hover {
  color: grey;
  -webkit-transition: .5s;
  transition: .5s;
}

body .fondoasd header nav ul li .nav-link-contactanos {
  padding-top: 0;
}

body .fondoasd header nav ul li .nav-link-contactanos .botonContactanos {
  background: #56565B;
  color: #FFFFFF;
  padding: .4rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  border: 1px solid #bbbbbb;
}

body .fondoasd .seccion1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 48%;
}

body .fondoasd .seccion1 h1 {
  font-weight: 900;
  font-size: 3.4em;
  text-align: center;
  white-space: pre-line;
}

body .fondoasd .seccion1 h1 strong {
  color: #FF9A51;
}

body .fondoasd .seccion1 h1 br {
  display: none;
}

body .fondoasd .seccion1 .btn {
  background-color: #FF9A51;
  border: none;
  margin-top: 5%;
  padding: .6rem;
  color: #14162A;
  font-weight: 500;
  width: 11rem;
  font-size: 20px;
}

body .fondoasd .seccion1 .btn a {
  text-decoration: none;
  color: #323852;
}

body #servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 90vw;
  margin: auto;
}

body #servicios .splide__arrows {
  display: none;
}

body #servicios .splide__slide {
  width: 16rem !important;
}

body #servicios .splide__slide .card img {
  height: 22vh;
}

body #servicios .splide__track {
  top: -24vh;
}

body #servicios .splide__pagination__page {
  display: none;
}

body #servicios .contenedorCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body #servicios .contenedorCards .card {
  position: relative;
  top: -20vh;
  border-radius: 2%;
}

body #servicios .contenedorCards .card img {
  height: 20vh;
  width: auto;
}

body #servicios .botonServicios {
  width: 13%;
  margin: auto;
  padding: .3rem;
  background-color: #FF9A51;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: 600;
}

body #servicios p {
  color: #3E415C;
  font-weight: 700;
  font-size: 1em;
}

body #servicios .cardsCollapse {
  margin-top: 7%;
}

body .acercaDe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100vh;
}

body .acercaDe .fondo {
  background-image: url(../media/acercade_xxl.jpg);
  background-size: cover;
  height: 90vh;
  width: 60%;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  position: absolute;
}

body .acercaDe .containerContenido {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

body .acercaDe .containerContenido .contenido {
  margin-left: 50%;
  height: 55vh;
  width: 55%;
  background-color: #ffff;
  margin-top: 17vh;
  position: absolute;
  padding: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2%;
  max-width: 40vw;
}

body .acercaDe .containerContenido .contenido img {
  height: auto;
  width: 100%;
}

body .acercaDe .containerContenido .contenido .AD-titulo {
  color: #FF9A51;
  font-weight: bold;
  font-size: 300%;
}

body .acercaDe .containerContenido .contenido .AD-tituloMarca {
  color: #323852;
  font-weight: bold;
  font-size: 400%;
}

body .acercaDe .containerContenido .contenido p {
  color: #323852;
  font-weight: 500;
  font-size: 1.3em;
}

body .contacto {
  padding: 7%;
  width: 100%;
}

body .contacto .carousel {
  width: 35rem;
  height: 30rem;
  position: relative;
  -webkit-box-shadow: 0px 2px 9px 0px #A8A8B94D;
          box-shadow: 0px 2px 9px 0px #A8A8B94D;
  right: 30%;
  border-radius: 10px;
}

body .contacto .carousel .carousel-inner {
  height: 100%;
  background: #FEFDFC;
  border-radius: 10px;
}

body .contacto .carousel .carousel-inner .carousel-item {
  height: 100%;
}

body .contacto .carousel .carousel-inner .carousel-item img {
  height: inherit;
  margin: auto;
  padding: 1rem;
}

body .contacto .carousel .carousel-control {
  border: none;
  background: #FEFDFC;
  border-radius: 10px;
}

body .contacto .redes {
  position: relative;
  right: 28%;
}

body .contacto .redes .contactanosTexto {
  color: #323852;
  font-size: 3.2em;
  font-weight: 700;
  margin-top: 2.2rem;
}

body .contacto .redes .contactanosTexto .contactanosTextoSpan {
  color: #FF9A51;
  font-weight: 900;
  display: block;
}

body .contacto .redes div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 10%;
}

body .contacto .redes div span {
  color: #3E415C;
  font-weight: 500;
  font-size: 1.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .contacto .redes div span .iconoRedes {
  width: 3rem;
}

body .contacto .redes div span p {
  font-size: initial;
}

body .contacto .fondoNaranja {
  background: #F9E8D4;
  border-left: 0.5rem solid #FF9A51;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  margin-left: 30%;
  padding: 2rem;
}

body footer {
  display: inline-block;
  padding: 1.2rem;
  background-color: #323852;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body footer .row {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer .row .footerLogoContainer {
  margin-left: 10%;
  width: 100%;
}

body footer .row .footerLogoContainer .logoFooter {
  width: 100%;
}

body footer .row nav ul {
  list-style: none;
  padding-left: 0;
}

body footer .row nav ul li a {
  text-decoration: none;
  color: #ffff;
}

body footer .row nav ul li a:hover {
  color: #A8A8B9;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

body footer .row .footerNavSpan {
  font-size: .9em;
  color: #A8A8B9;
}
/*# sourceMappingURL=style.css.map */